body{
    width: 100%;
    background: black;
    color: white;
    margin: 0;
    margin-top: -21px;
}
header{
    width: 100%;
    height: 100px;
    background: gray;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
header h1{
    width: 400px;
}
header h1 span{
    color: mediumblue;
}

header ul{
    display: flex;
    gap: 25px;
    align-items: center;
}
header ul li{
    list-style: none;
    font-size: 1.2rem;
}
#a-propos{
    width: 90px;
    height: 40px;
    border: 2px solid skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
header img{
    width: 20px;
    height: 20px;
    margin-left: 20%;
    
}

.first-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 100px;
    margin: 0 100px;
    margin-top: 80px;
}

.about-me h1{
    color:cornflowerblue ;
    text-align: center;
    margin-top: 50px;

}

.about-me img{
    width: auto;
    height: 500px;
}
.text_of_about{
    display: flex;
    align-items: center;
}
.text_of_about p{
    width: 600px;
}

.formations{
    margin-top: 50px;
}

.formations h1{
    color: cornflowerblue;
    text-align: center;
    margin-bottom: 80px;
}

.years{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 0 100px;

}

.formation1{
    background:darkslategray;
    padding-left: 10px;
    border: dodgerblue solid 0.5px ;
    border-radius: 5px;
    box-shadow: dodgerblue -3px 3px;

}
.formation2{
    background: darkslategray;
    padding-left: 10px;
    border: dodgerblue solid 0.5px ;
    border-radius: 5px;
    box-shadow: dodgerblue -3px 3px;
}
.formation3{
    background: darkslategray;
    padding-left: 10px;
    border: dodgerblue solid 0.5px ;
    border-radius: 5px;
    box-shadow: dodgerblue -3px 3px;
}
.formation4{
    background: darkslategray;
    padding-left: 10px;
    border: dodgerblue solid 0.5px ;
    border-radius: 5px;
    box-shadow: dodgerblue -3px 3px;
}

.years h2{
    margin-top: 10px;
}
.years p{
    font-size: 20px;
    font-family: serif;
    color:rgba(255, 255, 255, 0.925);
}
.experiences{
    margin-top: 50px;
}
.experiences h1{
    color: cornflowerblue;
    text-align: center;
}
.my-skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin: 0 100px;
    padding-top: 50px;
}
.my-skills1{
    background:#2d2c2cd1;
    border-radius: 8px;
    box-shadow: dodgerblue -3px 3px;
    height: 350px;

}
.my-skills2{
    background:#2d2c2cd1;
    border-radius: 8px;
    box-shadow: dodgerblue -3px 3px;
    height: 350px;
}
.my-skills3{
    background:#2d2c2cd1;
    border-radius: 8px;
    box-shadow: dodgerblue -3px 3px;
    height: 350px;
}
.my-skills4{
    background:#2d2c2cd1;
    border-radius: 8px;
    box-shadow: dodgerblue -3px 3px;
    height: 350px;
}
.my-skills p{
    margin-top: 70px;
    text-align: center;
}
.competences{
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
}
.competences h1{
    color: cornflowerblue;
    text-align: center;
    margin-bottom: 80px;
}

.box-competences{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;    
}
.box-container{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.box1{
    background: darkslategray;
    height: 380px;
    border-radius: 8px;
    box-shadow: 2px -1px white;
    display: flex;
    align-items: center;
}
.box1 li{
    list-style: none;
    margin: 30px 0;
    font-size: 22px;

}
.box2{
    background: darkslategray;
    height: 60px;
    border-radius: 8px;
    box-shadow: 2px -1px white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3{
    background: darkslategray;
    height: 60px;
    border-radius: 8px;
    box-shadow: 2px -1px white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box4{
    background: darkslategray;
    border-radius: 8px;
    box-shadow: 2px -1px white;
    height: 60px;
    font-size: 20px;
    text-align: center;   
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.specific_skills{
    margin-top: 80px;
}
.specific_skills h2{
    text-transform: uppercase;
    color: dodgerblue;
    text-decoration: underline dodgerblue;
    margin-bottom: 50px;
}
.skills_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.skills_container ul{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-left: 0;
    margin-left: 50px;

}
.skills_container li{
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    background: darkslategray;
    border-radius: 3px;
    box-shadow: -1px 2px dodgerblue;
    text-align: center;
    width: 450px;
}
.progress{
    width: 45%;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.label1{
    margin: 15px 0 30px 45px;
    word-spacing: 80px;
}
.label2{
    margin: 0 0 30px 45px;
    word-spacing: 110px;
}
.label3{
    margin: 0 0 30px 45px;
    word-spacing: 57px;
}

.realisations {
        margin-top: 80px;
    }
    
.realisations h1{
    color:cornflowerblue;
    text-align: center;
    margin-bottom: 80px;
}
input{
    width: 150px;
    height:35px;
    color: white;
    background: dodgerblue;
    border-radius: 8px;
    border: none;
    margin-bottom: 30px;
}
.designTh{
    width: 313px;
    background: rgba(15, 46, 46, 0.863);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}
.boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-left: 90px;
}
.boxes img{
    height: 161px;
    width: 313px;
}
.me-contacter{
    position: relative;
}
.me-contacter h1{
    color: dodgerblue;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}
 .me-contacter h2{
    color: dodgerblue;
    margin-left:  100px;
}

.div{
    width: 165px;
    height: 3px;
    background: rgba(15, 46, 46, 0.863);
    margin-top: -18px;
    margin-left: 100px;
}
.social-networks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 80px 100px;
}
.git, .tweeter, .linkedin{
    height: 70px;
    background: white;
    border: solid 1px skyblue;
    border-radius: 5px;
    position: relative;
}
.git h2{
    position: relative;
    width: 100px;
    color: black;
}
.tweeter h2{
    position: relative;
    width: 100px;
    color: black;
}
.linkedin h2{
    position: relative;
    width: 100px;
    color: black;
}
.social-networks p{
    margin-top: -20px;
    color: black;
    margin-left: 50px;
}

.git img{
    width: 50px;
    margin-top: -55px;
    margin-left: 80%;
    position: absolute;
}
.tweeter img{
    width: 50px;
    margin-top: -55px;
    margin-left: 80%;
    position: absolute;
}
.linkedin img{
    width: 50px;
    margin-top: -55px;
    margin-left: 80%;
    position: absolute;
}
.adresse{
    position: relative;
}
form{
    min-height: 300px;
    background: dodgerblue;
    color: white;
    margin: 80px 100px 0 100px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 25px;
}
form img{
    width: 32px;
    height: 32px;
    margin-left: 50px;
}
form p{
    margin-top: -35px;
    margin-left: 90px;
    font-size: 1.5rem;
}

.details h2{
    color: white;
}

.placeholder{
    display: flex;
    flex-direction: column;
    height: 270px;
}
.placeholder h2{
    color: white;
}
#firstta{
    margin-bottom: 20px;
    margin-left: 50px;
    padding-left: 5px;
    border: solid 1px black;
    box-shadow: -1px 3px black;
    border-radius: 5px;
    width: 70%;
    height: 25%;
    resize: none;
}
#secondta{
    border: solid 1px black;
    box-shadow: -1px 3px black;
    border-radius: 5px;
    width: 70%;
    height: 70%;
    margin-left: 50px;
    padding-left: 5px;
    resize: none;
}
#valider{
    height: 30%;
    background: rgba(15, 46, 46, 0.863);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 50px;
    cursor: pointer;
    transition: 0.2s;
}
#valider:hover{
    background-color: blue;
}

footer{
    background: rgba(15, 46, 46, 0.863);
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: -40px;
}
footer p{
    margin-top: 50px;
    font-size: 20px;
}
/* RESPONSIVE */

@media screen and (max-width:1115px){
    body{
        width: 100%;
    }
    header img{
        margin-left: 100px;
    }
    header ul{
        margin-left: -200px;
    }
    .first-section{
        gap: 10px;
        margin-left: 10px;
    }
    .first-section p{
        font-size: 20px;
    }
    .progress{
        width: auto;
        padding-left: 10px;
        
    }
    .social-networks{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        
    } 


}

@media screen and (max-width:960px){
    
    header ul{
        visibility: hidden;
    }
    header{
        width: 100vw;
    }
    header img{
        margin-right: 10%;
        
    }

    .years{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: 0 100px;
    
    }
    .my-skills{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 80px;
        margin: 0 100px;
        padding-top: 50px;
    }
    .box-competences{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 200px;    
    }
    .boxes{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-left: 90px;
    }
    .social-networks{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        
    } 
    .skills_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    form{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media screen and (max-width:940px){
    .first-section{
        display: block;
    }
}
@media screen and (max-width:720px){
    header img{
        margin-left: 5%;
    }
    form p{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 650px) {
    header img {
        margin-left: -50%;
    }
    form p{
        font-size: 1.2rem;
        margin-left: 65px;
    }
    form img{
        margin-left: 25px;
    }
}
@media screen and (max-width: 450px) {
    header img {
        margin-right: 30%;
    }
}
@media screen and (max-width: 410px) {
    header img{
    margin-left: -300px;
    }
    header h1{
        font-size: 1.5rem;
    }
}
